.ProductViewMain{
    height:100%;
    width:100%;
    background-color:white;
    padding:30px;
    margin-top:20px;
}
.productView-logo{
    height:80px;
    margin-bottom:30px;
}
.ProductView{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.ProductViewImg{
    height:400px;
    padding:30px;
}
.product-description h2,li{
    margin-top:20px;
    margin-bottom:20px;
}

.ProductView h4{
    text-align:left;
}
.product-btn{
    height:35px;
    border:0;
    width:120px;
    margin:5px;
    background-color: orange;
    color:white;
    cursor: pointer;
}

.product-btn2{
    height:35px;
    width:120px;
    margin:5px;
    border:0;
    background-color:orangered;
    color:white;
    cursor: pointer;
}
.similar-products{
    margin-top:20px;
}
.similar-products-container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top:20px
 
}
.similar-product-card{
    text-align: center;
    height:280px;
    padding:30px;
    width:200px;
    border: 1px solid rgb(222, 222, 222);
    color: black;
    margin:20px;
}
.similar-img{
    height:100px;
}
.similar-product-card p{
    margin-top:20px;
}

@media screen and (max-width:768px) {
    .ProductView{
        flex-direction:column;
    }
    .product-btn-main{
        display:flex;
        justify-content: center;
        
    }
    .ProductViewImg{
        height:100%;
    }
    .product-description h1,h2,h3,li{
        text-align: center;
        margin-top:20px;
        margin-bottom:20px;
        list-style-type: none;
    }
    .product-description button{
        text-align:center;

    }
    .ProductViewMain{
        height:100%;
    }
    
    .similar-products-container{
     align-items: center;
        flex-direction:column;
       
    }
    .similar-products h3{
        text-align: left;
    }
}

