.admin {
    height: 100vh;
    background-color: white;
    overflow-y: scroll;
    user-select: none;
    display: flex;
}

.sidebar {
    float: left;
    background-color: black;
    height: 100%;
    color: white;
    position: relative; 
   z-index:99999;
}


.sidebar2 {
    margin-top:30px;
}
.admin-form.blurred {
    filter: blur(10px);
}


.sidebar2 h3 {
    margin-top: 50px;
    padding: 30px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

.sidebar2 h3:hover {
    background-color: rgb(63, 63, 63);
}

.copyright {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.admin-icon {
    position: relative;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}

.admin-form {
    width: 400px;
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    text-align: center;     
}

.admin-form input {
    height: 30px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.admin-btn {
    height: 35px;
    border: 0;
    width: 120px;
    margin: 5px;
    background-color: rgb(116, 115, 115);
    color: white;
    cursor: pointer;
}

.admin-form select {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.admin-form button {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.admin {
    display: flex;
}

.sidebar {
   
    background-color: black;
    color: white;
    transition: transform 0.3s; /* Add transition for smooth position change */
}

.admin-form {
    flex: 1;
    background-color: white;
   
    padding: 30px;
    text-align: center;     
}

