.cate-card-img {
    height: 4em;
}
.cat-card{
    cursor: pointer;
}

.category-card-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: 100%;
    width:100%;
    padding: 10px;
    text-align: center;
    overflow-y: hidden;
    
}

.category-card{
    display: grid;
    place-items: center;
    overflow-y: hidden;
}

@media screen and (max-width:768px) {
    .category-card-main {
        justify-content: space-around;

    }
}