.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.navbar-main {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 3000;
}

.logo {
    position: relative;
    top: 2px;
    height: 60px;
    cursor: pointer;
}

.login,
.cart {
    position: relative;
    top: 8px;
    cursor: pointer;
}

.nav-icon {
    font-size: 1.5em;
    position: relative;
    top: 8px;
}

.searchBar2 {
    display: none;
}

.searchBtn2 {
    display: none;
}

@media only screen and (max-width: 768px) {
    .logo {
        position: relative;
        top: 8px;
        height: 40px;
    }
    

    .searchBar2,
    .searchBtn2 {
        display: inline-block;
        padding: 5px;
        height: 40px;
    }

    .navbar-search {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .navbar-main {
        position: sticky;
        top: 0;
        z-index: 3000;
    }
}
