footer {
   
    width: 100%;
    background-color: rgb(33, 33, 33);
    color: white;
    font-weight: 100;
    padding: 20px;
    text-align: center;
  }
  
  .phone-num:active,
  .phone-num:hover,
  .phone-num {
    color: rgb(255, 255, 255);
  }
  