@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:"Outfit";
  font-weight: 500;
  text-decoration: none;
  user-select: none;

}
body{
  background-color: rgb(220, 220, 221);
}

a:active{
  color:rgb(255, 255, 255);
}
a:hover{
  color:rgb(255, 255, 255);
}
a{
  color:rgb(255, 255, 255);
}
